@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    scroll-behavior: smooth;
    margin : 0;
    padding : 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(32, 32, 32);
}
.menubtn{
    display: none;
}
.header{
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    /* position: fixed; */
    top : 0;
    left: 0;
    padding : 1.2rem;
    width: 100%;
    display: flex;
   
    
    z-index: 2;
}
.navbar{
    position: absolute;
    right : 8%;
}
.navbar a{
    font-size: 1.5rem;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    top: 10%;

}
.navbar-active a{
    font-size: 1.5rem;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    top: 10%;
}
#name{
    font-size: 1.5rem;
    color: white;
    font-weight:200;
    text-decoration: solid;

}
#namenone{
    font-size: 1.5rem;
    color: white;
    font-weight:200;
    text-decoration: solid;

}
#sname{
    color: rgb(48, 149, 151);
}
.navbar a:hover,
.navbar a.active{
    color:rgb(48, 149, 151);
    border-bottom: 2px solid ;
}
.homediv{
    width:600px;
}
p{
    margin-left: 17%;
    color: rgb(192, 190, 190);
    text-align:center;
    margin-top: 10px;
    font-size: 15px;
    margin-right: 18%;
    font-weight: 500;
    max-width: 1000px;
    
}
.image{
    margin-top: 6%;
    text-align: center;
}
.image img{
    position: relative;
    width: 22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #04fffb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.image img:hover{
    box-shadow: 0 0 50px #04fffb;
}
.h1name{
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 3.4rem;
}
.h1name span{
    color: #04fffb;
}
.socialicons{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;

}
.socialicons a{
    font-size: 2.2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: white;
    background: transparent;
    transition: 0.3s ease-in-out;
}
#leetcode{
    width:30px;
    height: 30px;
}
.socialicons a:hover{
   color:#04fffb;
   transition: 0.2s ease-in-out;
}
.skills{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.skills h1,
#projects{
    color: white;
    font-size: 5.5rem;
    margin-bottom: 38px;
}
.skills img{
    display:inline;
    width: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
.project-container{
    display: inline-flex;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: center;
    text-align: center;
}
#projects{
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}
@media(max-width:1000px)
{
    .menubtn{
        position: absolute;
        display: block;
        color: bisque;
        background: none;
        border: none;
        font-size: 29px;
        right: 30px;
        top:18px;
    }
    .image{
        margin-top: 15%;
    }
    .image img{
        position: relative;
        width: 50vw;
    }
    .skills h1{
    color:#04fffb;
    font-size: 3.6rem;
    margin-bottom: 38px;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
    margin: auto;
    }
    .skills{
        margin-top: 100px;
        margin-bottom: 20px;

    }
    .skills img{
        display:inline-flex;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 70px;
        margin:auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;

    }
    .project-container{
        margin: auto;
        margin-bottom: 40px;
        margin-top: -20px;
    }
    #projects{
        color:#04fffb;
        font-size: 3.6rem;
        }
    .popup-overlay{
            background-color: rgb(0, 0, 0);
            opacity: 0.8;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
    }
    .navbar{
        display: none;
    }
    .navbar-active{
            position: relative;
            left: 50%;
            display:inline-flex;
            z-index: 2;
            text-align:left;
            flex-direction: column;
            margin-top: 60px;
    }
    .navbar-active a{
            font-size: 2rem;
            color: white;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            
    }
    .navbar-active a:hover,
    .navbar-active a.active{
    color:rgb(48, 149, 151);
    border-bottom: 1.5px solid ;
}
    #name{
        display: block;
}
    #namenone{
        display: none;
}
/* .socialicons{
    display: inline-flex;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    
}
.socialicons a{
    position: relative;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
} */


}

